//Index

#Index_hero{
    border: 1px solid var(--navy);

    background-color: var(--navy);
    background-size: cover;
    color: var(--mustard);
    

    h1{
        padding-top: 32px;
        padding: 32px 16px 4px;
        font-size: 49px;
    }
    h3{
        text-align: right;
        margin: 10px 60px 60px;
        font-size: 2em;
        color: var(--paleBlue);
    }
    img{
        image-orientation: right;
    }

    display: grid;
    grid-template-columns: (4 1fr);
    gap: 4px;
    grid-template-areas: 
    "quote quote quote quote"
    "img . . ."
    "link . . .";

    #quote{
        grid-area: quote;
    }
    #img{
        grid-area: img;
    }
    #link{
        grid-area: link;
        margin-left: 250px;
        padding-bottom: 16px;
        font-size: 23px;
    }

}

#Philosophy{
    border: 1px solid var(--navy);
    background-image: url("../img/Irish Sunset.jpg");
    filter: brightness(53%);
    display: cover;
    background-position: center top;
    height: 1125px;

    div{
        margin: 10px;

        @include md{
            margin: 55px 250px auto 16px;
        }
    
       h2{
        text-align: center;
        color: var(--rose);
        font-size: 35px;
        margin: 90px auto auto 16px;
        }
        h5{
            text-align: center;
            margin: 25px 4px;
            color: var(--gold);
            font-weight: bold;
            line-height: 30px;
            filter: brightness(109%);
            font-size: 20px;

            @include md{
                margin: 25px auto;
            }
        } 
    }
    
}
#gallery{
    background: var(--navy);
    text-align: center;
    color: var(--paleBlue);
    height: 90vh;
    border: 16px solid var(--navy);

    div{
        h5{
            color: var(--brown);
            font-size: 25px;
            margin: 23px auto 20px 42px;
        }
        ul{
            color: var(--mustard);
            li{
                padding: 12px 4px;
                list-style-type: none;
                a{
                    color: var(--mustard);
                    font-size: 20px;
                }
            }
        }
    }

    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: 
    "title title"
    "p1 p2"
    "p1 p2"
    "exp video";

    #title{
        grid-area: title;
        font-size: 40px;
        justify-content: center;
        margin-right: 55px;
    }
    #p1{
        grid-area: p1;
    }
    #p2{
        grid-area: p2;
    }
    
}
#video{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". video .";

    .window_wrapper{
        grid-area: video;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .window_wrapper iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}
#photography{
        display: grid;
            gap: 16px;
            grid-template-columns: repeat(2 1fr);
            margin: 16px;
            grid-template-areas: 
            "subtitle subtitle"
            "photo1 photo3"
            "photo2 photo3";

            img{
                width: 100%;
                height: auto;
            }
            #photo1{
                grid-area: photo1;
            }
            #photo2{
                grid-area: photo2;
            }
            #photo3{
                grid-area: photo3;
            }
            #subtitle{
                grid-area: subtitle;
                color: var(--navy);
            }

    
}