/* =============
    Resume
============= */
#resume_main{
    #resume_header{
        background-color: var(--mutedNavy);
        border: 2px solid var(--mutedNavy);
        padding: 10px;
        display: flex;
        gap: 6px;
        h1{
            font-size: 35px;
            justify-content: center;
            color: var(--mustard);
        }
    }

    background-color: var(--navy);
    height: 110vh;
    @include md{
        height: 95vh;
    }
    text-align: center;
    a{
        color: var(--mustard);
        font-size: 30px;
        justify-content: center;
        
    }
    object{
        padding-bottom: 20px;
    }
    
}
